:root {
  --body-light-bg: #fafafa;
  --body-dark-bg: #1a1a1a;
  --color-light: #1a1a1a;
  --color-dark: #fafafa;
}

body.light {
  --body-bg: var(--body-light-bg);
  --color: var(--color-light);
}

body.dark {
  --body-bg: var(--body-dark-bg);
  --color: var(--color-dark);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--body-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ThemeFather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ThemeButton {
  background-color: transparent;
}
.ThemeButton svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color);
  width: 25vw;
  height: 50vh;
}

.TestComponent {
  font-size: 25vw;
  color: var(--color);
}